.add-customer-button {
    margin: 20px 0;
    color: orange;
    display: block;
    width: 100%;
    border: 2px solid orange;
    font-weight: bold;
    padding: 10px;
    border-radius: 9px;
}

.add-customer-button:hover {
    background-color: orange;
    color: white;
}
